{% extends "ospi/base_home.html" %}

{% load humanize %}

{% block content_detail %}
  {% for account in object_list %}
    <h2>
      {% if object_list.count > 1 %}
        {{ forloop.counter|ordinal }}
      {% endif %}
      OpenSprinkler Pi
      <small style="font-size: 14px;">
        <span class="label label-info">
          <i class="glyphicon glyphicon-tint"></i>
          Smart Mode
        </span>
      </small>
    </h2>

    <strong>URL</strong>:
    {% if account.get_remote_uri %}
      <a href="{{ account.get_remote_uri }}"
      >{{ account.get_remote_uri }}</a>
    {% else %}
      --
    {% endif %}
    <br/>
    <strong>Zip Code</strong>:
    {% if account.zip_code %}
      {{ account.zip_code }}
      <small>
        <a target="_blank" href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query={{ account.zip_code }}">
          view forecast
          <i class="glyphicon glyphicon-new-window"></i></a>
      </small>
    {% else %}
      --
    {% endif %}
    <br/>
    {% comment %}
    <strong>Last Watering</strong>:
    {% if account.last_watering %}
      <span title="{{ account.last_watering }}">
        {{ account.last_watering|naturaltime }}
      </span>
    {% else %}
      --
    {% endif %}
    <br/>
    <strong>Next Watering</strong>:
    {% if account.next_watering %}
      <span title="{{ account.next_watering }}">
        {{ account.next_watering|naturaltime }}
      </span>
    {% else %}
      --
    {% endif %}
    <br/>
    {% endcomment %}

    <h3>Stations</h3>
    {% if account.stations.exists %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align: center;">#</th>
            <th>Station Information</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for station in account.stations.all %}
            <tr
              {% if station.status %}
                class="success"
              {% elif station.status|default_if_none:"None" == "None" %}
                class="warning"
              {% endif %}
            >
              <td style="text-align: center; vertical-align: middle;">
                {{ station.number }}
              </td>
              <td>
                <h4>
                  {{ station.name }}
                  <small>
                    <a href="{% url 'stations_edit' station.pk %}">Edit</a>
                  </small>
                </h4>
                <b>heads</b>:
                {{ station.heads }}
                <i>(~{{ station.gph|floatformat:"-2" }} <abbr title="gallons per hour">gph</abbr>)</i>
                <br/>
                {% comment %}
                  <div class="col-md-3">
                    <b>pump?</b>: {{ station.pump|yesno }}<br/>
                  </div>
                  <div class="col-md-3">
                    <b>ignore rain?</b>: {{ station.ignore_rain|yesno }}<br/>
                  </div>
                  <div class="col-md-3">
                    <b>soil type</b>: {{ station.soil_type }}<br/>
                  </div>
                {% endcomment %}
              </td>
              <td style="text-align: center; vertical-align: middle;">
                <button
                  type="button"
                  {% if station.status %}
                    class="btn btn-danger toggle-station"
                    data-target-state="disabled"
                  {% else %}
                    class="btn btn-success toggle-station"
                    data-target-state="enabled"
                  {% endif %}
                  data-id="{{ station.pk }}"
                >
                  Turn
                  {% if station.status %}
                    Off
                  {% else %}
                    On
                  {% endif %}
                </button>

                {% comment %}
                {% if station.status %}
                  {# It's on, allow the user to turn it off. #}
                  <button
                    type="button"
                    class="btn btn-danger turn-off-station"
                    data-id="{{ station.pk }}"
                  >
                    Turn Off
                  </button>
                {% elif station.status|default_if_none:"None" == "None" %}
                  {# We aren't able to contact the station. No soup for you! #}
                  <button type="button" class="btn btn-success disabled">
                    Turn On
                  </button>
                {% else %}
                  {# The station must be off, allow the user to turn it on. #}
                  <button
                    type="button"
                    class="btn btn-success turn-on-station"
                    data-id="{{ station.pk }}"
                  >
                    Turn On
                  </button>
                {% endif %}
                {% endcomment %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="well">
        <h4>There are no stations configured yet.</h4>
      </div>
    {% endif %}
  {% empty %}
    <div class="well">
      <h4>You don't have any OpenSprinkler Pis setup yet.</h4>
    </div>
  {% endfor %}

  {% comment %}
  <div class="well">
    <pre>
      TODO:
        - Current status of the RPi unit.
        x Overview of the stations and their current status.
        - Time of last watering.
        - Weather data?
        - Action buttons to manually enable/disable a particular station.
    </pre>
  </div>
  {% endcomment %}
{% endblock %}

{% block extrascripts %}
  <script>
    $("abbr").tooltip();

    function ajaxStationUpdate(stationId, action) {
      $.ajax({
        type: "POST",
        url: "/ospi/stations/" + stationId + "/" + action + "/",
        beforeSend: function(request) {
          request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        complete: function(xhr, status) {
          if (status === "success") {
            {# Don't do anything. #}
          } else {
            {# Display an error alert message. #}
            var errorMessage = [
              '<div class="alert alert-danger alert-dismissable">',
                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>',
                'An unknown error occurred in the system. Please try again later.',
              '</div>'
            ].join('');
            $('div.messages').html(errorMessage).show('fast');
          }
        },
      });
    }

    function enableStation(stationId, stationButton) {
      ajaxStationUpdate(stationId, "enable");
      {# Update the button. #}
      $(stationButton).text("Turn Off");
      $(stationButton).removeClass("btn-success");
      $(stationButton).addClass("btn-danger");
      $(stationButton).data("target-state", "disabled");
      {# Update the station row. #}
      $(stationButton).closest("tr").addClass("success");
    }

    function disableStation(stationId, stationButton) {
      ajaxStationUpdate(stationId, "disable");
      {# Update the button. #}
      $(stationButton).text("Turn On");
      $(stationButton).removeClass("btn-danger");
      $(stationButton).addClass("btn-success");
      $(stationButton).data("target-state", "enabled");
      {# Update the station row. #}
      $(stationButton).closest("tr").removeClass("success");
    }

    function toggleStation(stationId, targetState, stationButton) {
      if (targetState === "enabled") {
        enableStation(stationId, stationButton);
      } else {
        disableStation(stationId, stationButton);
      }
    }

    $(".toggle-station").click(function(event) {
      "use strict";
      event.preventDefault();
      var stationId = $(this).data('id');
      var targetState = $(this).data('target-state');
      toggleStation(stationId, targetState, this);
    });
  </script>
{% endblock %}
