{% extends "ospi/base_home.html" %}
{% load static %}

{% block extrascripts %}
<script type='text/javascript' src="{% static 'js/googlecharts.js' %}"></script>
<script type='text/javascript'>
    google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type='text/javascript'>
    function drawVisualization(){
        var data = google.visualization.arrayToDataTable({{ data|safe }});

        var options = {
            title : "Daily Water Usage",
            vAxis: {title: "Gallons", format: '# gal'},
            hAxis: {title: "Day"},
            seriesType: "bars",
            series: {1: {type: "line"}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data,options);
    }
    google.setOnLoadCallback(drawVisualization);
</script>
{% endblock %}

{% block content_detail %}
  <h2>Stats</h2>

  <div id='chart_div' style='height:600px;'>
  </div>
{% endblock %}
