{% extends "base.html" %}

{% block content %}
<div id='timeline'></div>
{% endblock content %}

{% block extrascripts %}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>

<script type='text/javascript'>
google.setOnLoadCallback(drawChart);
function drawChart() {
    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({type:'string', id:'Schedule'});
    dataTable.addColumn({type:'string', id:'Stations'});
    dataTable.addColumn({type:'date', id:'Start'});
    dataTable.addColumn({type:'date', id:'End'});
    dataTable.addRows([
        {% for object in object_list %}
            {% for interval in object.get_intervals %}
            ['{{ object.name }}'{% for station in object.stations.all %},'{{ station.name }}'{% endfor %}, new Date(0,0,0,{{ interval.0|date:"H,i,s" }}), new Date(0,0,0,{{ interval.1|date:"H,i,s" }})],
            {% endfor %}
        {% endfor %}
    ]);
    var options = {
        timeline: { colorByRowLabel: true }
    };
    chart.draw(dataTable, options);
}
</script>
{% endblock %}
